body {
    background-image:url(judge.webp);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
}
/*main textbox*/
.textbox {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    text-align: center;
}

polygon.box {
    position: absolute;
    text-align: center;
    margin:0px;
    bottom: 0vh;
    fill: #0d1428b4;
    stroke: white;
    stroke-width: 2px;

}

h1.center-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
    text-align: center;
    font-size: 3.5vh;
}

/*judge name tag*/
.nametag {
    position: absolute;
    bottom: 28.8vh;
    left:27vh;
    text-align: left;
}

div.tag {
    position: absolute;
    margin: 0vh;
    fill: #2a88bc;
    stroke-width: 2px;
    stroke:white;
}

div.name {
    position: absolute;
    margin: 0vh;
    font-size:2.7vh;
    left:2.8vh;
    top:-1vh;
}
/* buttons */
 .tabs {
    display: none;
    text-align: center;
 }

 .choicebutton {
    position: relative;
    background-color: #2a88bc;
    border: 1.5px solid white;
    font-size: 2.5vh;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17vh;
    margin-bottom: -12vh;
    display: block;
 }
 /* text after choosing dialogue option */
 .buttonChoiceText{
    text-align: center;
 }
.wamajam{
    position:relative;
    width:45%;
    background-color: #74b3d6;
    border: 2px solid white;
    padding:5vh;
    margin:auto;
    margin-top: 10vh;
    word-wrap: break-word;
    font-size: 3vh;
    text-align: center;
    display: none;
}
.invisible{
    display:none;
}
/*font*/
.PWAA {
    font-family: PWAA;
    color:white;
}

@font-face {
    font-family: PWAA;
    src: url(PWAA.otf);
}