body {
    background-image: url(judge.webp);
    background-size: cover;
}
div.textbox {
    position: relative;
    top:500px;
    left:120px;
    fill: #0d1428b4;
    stroke: white;
    stroke-width: 2px;

}
div.nametag {
    position: absolute;
    left:18px;
    top: -5px;
    text-align: center;
    /*text*/
    font-size:20px;
}

div.tag {
    position: absolute;
    left:10px;
    top:-15px;
    fill: #2a88bc;
    stroke-width: 2px;
    stroke:gray;
}
.text {
    position:absolute;
    top:30px;
    left:40px;
    text-align: center;
    font-size: 30px;
}

.PWAA {
    font-family: PWAA;
    color:white;
}

@font-face {
    font-family: PWAA;
    src: url(PWAA.otf);
}